body {
     max-width: 1920px;
     margin: 0 auto;
     background-size: cover;
     background-position: center;
}

header {
     display: flex;
     gap: 24px;
     align-items: center;
     background-color: rgba(245, 245, 247, 0.8);
     height: 44px;
     justify-content: center;
     text-decoration: none;
     margin: 0 auto;
     background-size: cover;
     background-position: center;
}

.head-item {
     font-size: 12px;
     font-weight: 400;
     color: rgba(0, 0, 0, 1);
     font-family: inter;
     text-decoration: none;
}

.icon {
     width: 30px;
     height: 44px;
}

nav {
     display: flex;
     justify-content: center;
     align-items: center;
     padding: 16px 0;
}

nav span {
     font-size: 14px;
     font-weight: 400;
     font-family: inter;
     color: rgba(29, 29, 31, 1);
}

main {
     background-image: url('Image/back1.png');
     height: 692px;
     margin: 0 auto;
     background-size: cover;
     background-position: center;
}

main>div {
     text-align: center;
     padding-top: 55px;
}

.main-items {
     font-size: 52px;
     font-weight: 600;
     font-family: inter;
     color: rgba(245, 245, 247, 1);
     padding-bottom: 16px;
}

.main-items2 {
     font-size: 24px;
     font-weight: 400;
     font-family: inter;
     color: rgba(245, 245, 247, 1);
     padding-bottom: 20px;
}

.button1 {
     width: 123px;
     height: 44px;
     border-radius: 999px;
     background-color: rgba(0, 113, 227, 1);
     border: 0;
}

.button2 {
     width: 68px;
     height: 44px;
     background-color: transparent;
     border: 1px solid rgba(41, 151, 255, 1);
     border-radius: 999px;
}

.button1-text {
     font-size: 16px;
     font-weight: 400;
     font-family: inter;
     color: rgba(255, 255, 255, 1);
}

.button2-text {
     font-size: 16px;
     font-weight: 400;
     font-family: inter;
     color: rgba(41, 151, 255, 1);
}

.main-button {
     display: flex;
     gap: 16px;
     justify-content: center;
     padding-top: 0;
}

.main-2 {
     background-image: url('Image/back2.png');
     margin-top: 12px;
     background-position: center;
     background-size: cover;
}

.main2-item {
     font-size: 52px;
     font-weight: 600;
     font-family: inter;
     color: rgba(245, 245, 247, 1);
     padding-bottom: 16px;
}

.main2-items {
     font-size: 24px;
     font-weight: 400;
     font-family: inter;
     color: rgba(245, 245, 247, 1);
     padding-bottom: 20px;
}

.main2-button {
     display: flex;
     gap: 16px;
     justify-content: center;
     padding-top: 0;
}

.button3 {
     width: 123px;
     height: 44px;
     background-color: rgba(255, 255, 255, 1);
     border: 1px solid rgba(255, 255, 255, 1);
     border-radius: 99px;
}

.button4 {
     width: 68px;
     height: 44px;
     border-radius: 999px;
     border: 1px solid rgba(255, 255, 255, 1);
     background-color: transparent;
}

.button3-text {
     font-size: 16px;
     font-weight: 400;
     font-family: inter;
     color: rgba(0, 0, 0, 1);
}

.button4-text {
     font-size: 16px;
     font-weight: 400;
     font-family: inter;
     color: rgba(255, 255, 255, 1);
}

section {
     background-image: url('Image/back3.png');
     height: 692px;
     margin-top: 12px;
     background-size: cover;
     background-position: center;
     margin-bottom: 12px;
}

section>div {
     text-align: center;
}

.section-text {
     font-size: 52px;
     font-weight: 600;
     font-family: inter;
     color: rgba(0, 0, 0, 1);
     padding-top: 446px;
     padding-bottom: 12px;
}

.section-text1 {
     font-size: 24px;
     font-weight: 400;
     font-family: inter;
     color: rgba(0, 0, 0, 1);
     padding-bottom: 16px;
}

.section-button {
     width: 114px;
     height: 44px;
     background-color: rgba(0, 113, 227, 1);
     border-radius: 999px;
     border: 0;
}

section span {
     font-size: 16px;
     font-weight: 400;
     font-family: inter;
     color: rgba(255, 255, 255, 1);
}

.article1 {
     background-image: url('Image/ar1.png');
     width: calc(50% - 6px);
     height: 580px;
     aspect-ratio: 16/9;
     background-size: cover;
     background-position: center;

}


.article2 {
     background-image: url('Image/ar2.png');
     width: calc(50% - 6px);
     height: 580px;
     aspect-ratio: 16/9;
     background-size: cover;
     background-position: center;
}

.article3 {
     background-image: url('Image/ar3.png');
     width: calc(50% - 6px);
     height: 580px;
     aspect-ratio: 16/9;
     background-size: cover;
     background-position: center;
}

.article4 {
     background-image: url('Image/ar4.png');
     width: calc(50% - 6px);
     height: 580px;
     aspect-ratio: 16/9;
     background-size: cover;
     background-position: center;

}

.article5 {
     background-image: url('Image/ar5.png');
     width: calc(50% - 6px);
     height: 580px;
     aspect-ratio: 16/9;
     background-size: cover;
     background-position: center;
}


.article6 {
     background-image: url('Image/ar6.png');
     width: calc(50% - 6px);
     height: 580px;
     aspect-ratio: 16/9;
     background-size: cover;
     background-position: center;
}

article>div {
     display: flex;
     flex-wrap: wrap;
     gap: 12px;
}


.art-back1 {
     padding-top: 58px;
     text-align: center;
     padding-bottom: 9px;
}

.art-back2 {
     font-size: 18px;
     font-weight: 400;
     font-family: inter;
     color: rgba(29, 29, 31, 1);
     text-align: center;
}

.art-button {
     width: 115px;
     height: 40px;
     border-radius: 999px;
     background-color: rgba(0, 113, 227, 1);
     border: 0;
}

.art-text {
     font-size: 16px;
     font-weight: 400;
     font-family: inter;
     color: rgba(255, 255, 255, 1);
}

.art-button1 {
     width: 68px;
     height: 40px;
     background-color: transparent;
     border-radius: 999px;
     border: 1px solid rgba(41, 151, 255, 1);
}

.art-text1 {
     font-size: 16px;
     font-weight: 400;
     font-family: inter;
     color: rgba(41, 151, 255, 1);
}

.article-button {
     display: flex;
     gap: 16px;
     justify-content: center;
     padding-top: 20px;
}

.art-text2 {
     font-size: 14px;
     font-weight: 500;
     font-family: inter;
}

.art-back3 {
     display: flex;
     justify-content: center;
     align-items: center;
     padding-top: 324px;
}

.art2-back {
     font-size: 36px;
     font-weight: 600;
     font-family: inter;
     color: rgba(245, 245, 247, 1);
     padding-top: 365px;
     padding-bottom: 2px;
}

.art2-back1 {
     font-size: 18px;
     font-weight: 400;
     font-family: inter;
     color: rgba(245, 245, 247, 1);
     padding-bottom: 10px;
}

.art2-button {
     width: 115px;
     height: 40px;
     background-color: rgba(0, 113, 227, 1);
     border-radius: 999px;
     border: 0;
}

.art2-text {
     font-size: 16px;
     font-weight: 400;
     font-family: inter;
     color: rgba(255, 255, 255, 1);
}

.art2-button1 {
     width: 68px;
     height: 40px;
     border-radius: 999px;
     border: 1px solid rgba(41, 151, 255, 1);
     background-color: transparent;
}

.art2-text1 {
     font-size: 16px;
     font-weight: 400;
     font-family: inter;
     color: rgba(41, 151, 255, 1);
}

.article2 {
     text-align: center;
}

.article2-button {
     display: flex;
     gap: 16px;
     justify-content: center;
}

.art3-ima {
     width: 26.35px;
     height: 32px;
}

.art3-back {
     display: flex;
     gap: 8px;
     justify-content: center;
}



.art3-text {
     font-size: 32px;
     font-weight: 700;
     font-family: inter;
     color: rgba(0, 0, 0, 1);

}

.article3 {
     text-align: center;
}

.art3-back {
     padding-top: 58px;
}

.art3-back1 {
     font-size: 15px;
     font-weight: 700;
     font-family: inter;
     color: rgba(0, 0, 0, 1);
     padding-bottom: 4px;
}

.art3-back2 {
     font-size: 18px;
     font-weight: 400;
     font-family: inter;
     color: rgba(29, 29, 31, 1);
     padding-bottom: 16px;
}

.article3-button {
     display: flex;
     gap: 16px;
     justify-content: center;
}

.article3-button {
     display: flex;
     gap: 16px;
     justify-content: center;
}

.art3-button {
     width: 115px;
     height: 40px;
     background-color: rgba(0, 113, 227, 1);
     border-radius: 999px;
     border: 0;
     font-size: 16px;
     font-weight: 400;
     font-family: inter;
     color: rgba(255, 255, 255, 1);
}

.art3-button1 {
     width: 68px;
     height: 40px;
     border-radius: 999px;
     border: 1px solid rgba(41, 151, 255, 1);
     background-color: transparent;
     font-size: 16px;
     font-weight: 400;
     font-family: inter;
     color: rgba(41, 151, 255, 1);

}

.article4 {
     text-align: center;
}

.art4-back {
     font-size: 36px;
     font-weight: 600;
     font-family: inter;
     color: rgba(29, 29, 31, 1);
     padding-top: 48px;
     padding-bottom: 2px;
}

.art4-back1 {
     font-size: 18px;
     font-weight: 400;
     font-family: inter;
     color: rgba(29, 29, 31, 1);
     padding-bottom: 10px;
}

.art4-button {
     width: 115px;
     height: 40px;
     background-color: rgba(0, 113, 227, 1);
     border-radius: 999px;
     border: 0;
     font-size: 16px;
     font-weight: 400;
     font-family: inter;
     color: rgba(255, 255, 255, 1);
}

.art4-button1 {
     width: 68px;
     height: 40px;
     border-radius: 999px;
     border: 1px solid rgba(41, 151, 255, 1);
     background-color: transparent;
     font-size: 16px;
     font-weight: 400;
     font-family: inter;
     color: rgba(41, 151, 255, 1);
}

.article5 {
     text-align: center;
}

.art5-ima {
     width: 26px;
     height: 32px;
}

.art5-back {
     font-size: 32px;
     font-weight: 700;
     font-family: inter;
     color: rgba(0, 0, 0, 1);
     display: flex;
     gap: 7px;
     justify-content: center;
     padding-bottom: 4px;
     padding-top: 58px;
}

.art5-back1 {
     font-size: 18px;
     font-weight: 400;
     font-family: inter;
     color: rgba(29, 29, 31, 1);
}

.art5-button {
     width: 167px;
     height: 40px;
     border-radius: 999px;
     border: 0;
     background-color: rgba(0, 113, 227, 1);
     font-size: 16px;
     font-weight: 400;
     font-family: inter;
     color: rgba(255, 255, 255, 1);
}

.article5-button {
     padding-top: 16px;
}

.article6 {
     text-align: center;
}

.art6-back {
     font-size: 32px;
     font-weight: 700;
     font-family: inter;
     color: rgba(0, 0, 0, 1);
     display: flex;
     gap: 7px;
     justify-content: center;
     padding-bottom: 4px;
     padding-top: 58px;
}

.art6-ima {
     width: 26px;
     height: 32px;
}

.art6-back1 {
     font-size: 18px;
     font-weight: 400;
     font-family: inter;
     color: rgba(29, 29, 31, 1);
}

.article6-button {
     display: flex;
     gap: 16px;
     justify-content: center;
     padding-top: 16px;
}

.art6-button {
     width: 118px;
     height: 40px;
     background-color: rgba(0, 113, 227, 1);
     border-radius: 999px;
     border: 0;
     font-size: 16px;
     font-weight: 400;
     font-family: inter;
     color: rgba(255, 255, 255, 1);
}

.art6-button1 {
     width: 112px;
     height: 40px;
     background-color: transparent;
     border: 1px solid rgba(0, 113, 227, 1);
     border-radius: 999px;
     font-size: 16px;
     font-weight: 400;
     font-family: inter;
     color: rgba(0, 113, 227, 1);
     ;

}

footer {
     width: 100%;
     margin-top: 12px;
}

.slides {
     display: flex;
     gap: 16px;
     width: 100%;
     scroll-snap-type: x proximity;
     box-sizing: border-box;
     overflow-x: scroll;

}

.slides::-webkit-scrollbar {
     display: none;
}

.slides>div {
     scroll-snap-align: center;
}

.slide {
     width: 1250px;
     height: 668px;
}

.list {
     display: flex;
     justify-content: center;
     padding-top: 12px;
}

.list_type {
     width: 220px;
     height: 8px;
}

.footer_in {
     position: relative
}

.footer_in2 {
     position: absolute;
     bottom: 58px;
     left: 70px;
     display: flex;
     align-items: center;
     gap: 20px;

}

.footer_button {
     width: 133px;
     height: 44px;
     border-radius: 999px;
     background-color: rgba(245, 245, 247, 1);
     border: 0;
     font-size: 17px;
     font-weight: 400;
     font-family: inter;
     color: rgba(0, 0, 0, 1)
}

.footer_text {
     font-size: 17px;
     font-weight: 700;
     font-family: inter;
     color: rgba(255, 255, 255, 1);
     box-shadow: 0 0 5 rgba(0, 0, 0, 0.6);
}

footer span {
     font-size: 17px;
     font-weight: 400;
     font-family: inter;
     color: rgba(255, 255, 255, 1);
     box-shadow: 0 0 5 rgba(0, 0, 0, 0.6);
}

.web_footer {
     width: 100%;
     padding-top: 12px;
     padding-bottom: 56px;
}

.footer_head {
     display: flex;
     gap: 16px;
     box-sizing: border-box;
     overflow-x: scroll;
     scroll-snap-type: x proximity;
}

.footer_head::-webkit-scrollbar {
     display: none;
}

.footer_ima {
     width: 417px;
     height: 236px;
}

.footer_back {
     scroll-snap-align: center;
     position: relative;
}

.footer_text1 {
     position: absolute;
     font-size: 14px;
     font-weight: 600;
     font-family: inter;
     color: rgba(255, 255, 255, 1);
     left: 15px;
     bottom: 20px;
     width: 223px;
}

.footer_text2 {
     font-size: 14px;
     font-weight: 600;
     font-family: inter;
     color: rgba(255, 255, 255, 1);
     position: absolute;
     left: 226px;
     top: 109px;
}

.footer_text3 {
     font-size: 14px;
     font-weight: 600;
     font-family: inter;
     color: rgba(255, 255, 255, 1);
     position: absolute;
     left: 15px;
     bottom: 20px;
}

.icon_tab {
     display: none;
}

.art7 {
     display: none;
}

.icon {
     display: block;
}

.tab_art6 {
     display: none;
}

.tab_foot_t {
     display: none;
}

@media (max-width:768px) {
     .head-item {
          display: none;
     }

     .icon_tab {
          display: block;
          width: 48px;
          height: 48px;
     }

     .icon_tab1 {
          text-align: center;
          height: 48px;
          display: flex;
          flex-grow: 1;
     }

     header {
          gap: 0;
     }

     nav {
          width: 444px;
          text-align: center;
          padding: 12px 162px;
     }

     main {
          background-image: url('Image/tablet_b1.jpg');
     }

     .main2-items {
          font-size: 42px;
     }

     .main-items2 {
          font-size: 22px;
     }

     .main2 {
          background-image: url('Image/tablet_b2.png');
     }

     .main2-item {
          font-size: 42px;
     }

     .main2-items {
          font-size: 22px;
     }

     section {
          display: none;
     }

     .art7 {
          background-image: url('Image/Figure.png');
          width: 366px;
          height: 490px;
          background-size: cover;
          background-position: center;
     }

     .art7_back {
          font-size: 30px;
          font-weight: 700;
          font-family: inter;
          padding-top: 296px;
          display: flex;
          justify-content: center;

     }

     .art7_text {
          font-size: 18px;
          font-weight: 400;
          font-family: inter;
          color: rgba(29, 29, 31, 1);
          width: 236px;
          height: 60px;
          text-align: center;
          padding: 4px 65px;
     }

     .art7_button {
          width: 126px;
          height: 36px;
          border-radius: 999px;
          background-color: rgba(0, 113, 227, 1);
          font-size: 14px;
          font-weight: 400;
          font-family: inter;
          color: rgba(255, 255, 255, 1);
          border: 0;
          margin: 12px 120px;

     }

     .art7 {
          display: block;
     }

     .article1 {
          width: 768px;
          height: 650px;
          margin-top: 12px;

     }

     .art-back2 {
          font-size: 22px;
     }

     .art-back3 {
          padding-top: 367px;
     }

     .art-text2 {
          font-size: 20px;
          font-weight: 500;
     }

     .article2 {
          background-image: url('Image/Figure\ copy.png');
          width: 366px;
          height: 490px;
          margin-left: 12px;

     }

     .art2-back {
          display: none;
     }

     .art2-back1 {
          display: none;
     }

     .tab_art {
          font-size: 30px;
          font-weight: 700;
          font-family: inter;
          color: rgba(245, 245, 247, 1);
          padding-top: 287px;
          padding-bottom: 4px;

     }

     .tab_art1 {
          font-size: 18px;
          font-weight: 400;
          font-family: inter;
          color: rgba(245, 245, 247, 1);
          padding-bottom: 16px;
          width: 241px;
          padding-left: 63px;

     }

     .art2-button {
          width: 107px;
          height: 36px;
     }

     .art2-text {
          font-size: 14px;
     }

     .art2-button1 {
          width: 66px;
          height: 36px;
     }

     .art2-text1 {
          font-size: 14px;
     }

     .article3 {
          background-image: url('Image/Figure\ \(1\).png');
          width: 366px;
          height: 490px;
     }

     .art3-ima {
          width: 22px;
          height: 27px;
     }

     .art3-text {
          font-size: 28px;
     }

     .art3-back1 {
          font-size: 13px;
     }

     .art3-button {
          width: 107px;
          height: 36px;
          font-size: 14px;
     }

     .art3-button1 {
          width: 66px;
          height: 36px;
          font-size: 14px;

     }

     .art4-back {
          font-size: 30px;
     }

     .art4-button {
          width: 107px;
          height: 36px;
          font-size: 14px;
     }

     .art4-button1 {
          width: 66px;
          height: 36px;
          font-size: 14px;
     }

     .article4 {
          width: 366px;
          height: 490px;
          margin-left: 12px;
     }

     .article6 {
          background-image: url('Image/Figure\ \(2\).png');
          width: 366px;
          height: 490px;
          margin-left: 12px;
     }


     .article5 {
          width: 366px;
          height: 490px;
     }

     .art5-back {
          font-size: 28px;
     }

     .art5-ima {
          width: 22px;
          height: 27px;
     }

     .art5-button {
          width: 150px;
          height: 36px;
          font-size: 14px;
     }

     .non {
          display: none;
     }

     .tab_art6 {
          display: block;

     }

     .tab_art6_back {
          font-size: 30px;
          font-family: inter;
          font-weight: 700;
          color: rgba(29, 29, 31, 1);
          width: 250px;
          text-align: center;
          padding-top: 42px;
          padding-left: 55px;
          padding-bottom: 4px;
     }

     .tab_art6_back1 {
          font-size: 18px;
          font-weight: 400;
          font-family: inter;
          color: rgba(29, 29, 31, 1);
          width: 250px;
          padding-bottom: 16px;
          padding-left: 62px;
     }

     .tab_art6_button {
          width: 107px;
          height: 36px;
          border-radius: 999px;
          background-color: rgba(0, 113, 227, 1);
          border: 0;
          font-size: 14px;
          color: rgba(255, 255, 255, 1);
          font-weight: 400;
          font-family: inter;
     }

     .slide {
          display: none;
     }

     .slide0 {
          background-image: url('Image/tab_foot1.jpg');
          min-width: 689px;
          height: 368px;
          position: relative;
     }

     .slide1 {
          background-image: url('Image/tab_foor2.jpg');
          min-width: 689px;
          height: 368px;
     }

     .tab_slide {
          overflow-x: scroll;

     }

     .footer_in0 {
          display: none;
     }

     .tab_foot_b {
          width: 108px;
          height: 36px;
          font-size: 14px;

     }

     .footer_in2 {
          bottom: 27px;
          left: 30px;
     }

     .footer_text {
          display: none;
     }

     .tab_foot_t {
          font-size: 17px;
          font-weight: 400;
          font-family: inter;
          color: rgba(255, 255, 255, 1);
          width: 401px;
          box-shadow: rgba(0, 0, 0, 0.6);
     }

     .ta {
          font-size: 17px;
          font-weight: 700;
          color: rgba(255, 255, 255, 1);
          box-shadow: rgba(0, 0, 0, 0.6);
     }

     .tab_foot_t {
          display: block;
     }

}