body {
    max-width: 1920px;
    margin: 0 auto;
    background-size: cover;
    background-position: center;
}

body::-webkit-scrollbar {
    display: none;
}

header {
    display: flex;
    gap: 24px;
    align-items: center;
    background-color: rgba(245, 245, 247, 0.8);
    height: 44px;
    justify-content: center;
    text-decoration: none;
    margin: 0 auto;
    background-size: cover;
    background-position: center;
}

.head-item {
    font-size: 12px;
    font-weight: 400;
    color: rgba(0, 0, 0, 1);
    font-family: inter;
    text-decoration: none;
}

.icon {
    width: 30px;
    height: 44px;
}

.word {
    font-family: Inter;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0px;
    text-align: center;
    vertical-align: middle;
    color: rgba(29, 29, 31, 1);
    padding: 20px 652px;
    background-color: rgba(255, 255, 255, 1);
    width: 618px;
}

.color {
    background-image: url('Ima/Background.png');
    height: 75px;
}

.head {
    height: 260px;
    background-color: rgba(245, 245, 247, 1);
    position: relative;
}

.Store {
    font-family: Inter;
    font-weight: 700;
    font-size: 44px;
    line-height: 52.01px;
    letter-spacing: 0px;
    vertical-align: middle;
    background-image: linear-gradient(90deg, #0090F7 0%, #BA62FC 50%, #F2416B 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-decoration: none;
}

.section {
    font-family: Inter;
    font-weight: 700;
    font-size: 44px;
    line-height: 52.01px;
    letter-spacing: 0px;
    vertical-align: middle;
    color: rgba(110, 110, 115, 1);
    display: flex;
    gap: 32px;
    text-align: center;
    padding: 80px 0;
    padding-left: 140px;
}

.red {
    font-family: Inter;
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0px;
    vertical-align: middle;
    color: rgba(29, 29, 31, 1);
    width: 147px;
    height: 40px;
}

.red_ {
    font-family: Inter;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0px;
    vertical-align: middle;
    color: rgba(0, 102, 204, 1);
}

.reds {
    position: absolute;
    bottom: 80px;
    right: 140px;
}

.red1 {
    padding-top: 16px;

}

.lawlah {
    width: 35px;
    height: 35px;
    position: absolute;
    right: 160px;
}

.non {
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 4px;
}

.choic {
    display: flex;
    gap: 12px;
    background-color: rgba(245, 245, 247, 1);
    height: 146px;
    justify-content: center;
    overflow-x: scroll;

}

.choic::-webkit-scrollbar {
    display: none;
}

.choice {
    width: 136px;
}

.s_i {
    width: 120;
    height: 78;
    padding-bottom: 16px;

}

.s_t {
    font-family: Inter;
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0px;
    text-align: center;
    vertical-align: middle;
    color: rgba(29, 29, 31, 1);
}

.so_se {
    font-family: Inter;
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: 0px;
    vertical-align: middle;
    background-image: linear-gradient(90deg, #0090F7 0%, #BA62FC 50%, #F2416B 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.se_so {
    background-color: rgba(245, 245, 247, 1);
    height: 34px;
    font-family: Inter;
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: 0px;
    vertical-align: middle;
    color: rgba(110, 110, 115, 1);
    text-align: center;
    display: flex;
    gap: 12px;
    padding-left: 140px;
}

main {
    height: 500px;
    background-color: rgba(245, 245, 247, 1);
    display: flex;
}

.main_ {
    display: flex;
    gap: 20px;
    padding-top: 24px;
    overflow-x: scroll;
    padding-left: 140px;
    padding-right: 140px;
    height: 500px;
}

.back_s1 {
    background-image: url('Ima/ba1.png');
}

.back_s2 {
    background-image: url('Ima/ba2.png');
}

.back_s3 {
    background-image: url('Ima/ba3.png');
}

.back_s4 {
    background-image: url('Ima/ba4.png');
}

.main_s {
    min-width: 480px;
    height: 500px;
    border-radius: 18px;
    box-shadow: 2px 4px 12px 0px rgba(0, 0, 0, 0.08);

}

.main_::-webkit-scrollbar {
    display: none;
}

.s_text {
    font-family: Inter;
    font-weight: 700;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0px;
    vertical-align: middle;
    color: rgba(182, 68, 0, 1);
    padding-top: 30px;
    padding-left: 30px;
    padding-bottom: 9px;
}

.s_text0 {
    font-family: Inter;
    font-weight: 700;
    font-size: 26px;
    line-height: 32px;
    letter-spacing: 0.2px;
    vertical-align: middle;
    color: rgba(29, 29, 31, 1);
    padding-left: 30px;
    padding-bottom: 12px;
}

.s_text1 {
    font-family: Inter;
    font-weight: 400;
    font-size: 18px;
    line-height: 20px;
    letter-spacing: 0px;
    vertical-align: middle;
    color: rgba(29, 29, 31, 1);
    padding-left: 30px;
}

.s_text2 {
    font-family: Inter;
    font-weight: 700;
    font-size: 26px;
    line-height: 32px;
    letter-spacing: 0.2px;
    vertical-align: middle;
    color: rgba(29, 29, 31, 1);
    padding-top: 54px;
    padding-left: 30px;
    padding-bottom: 12px;
}

.s_text3 {
    font-family: Inter;
    font-weight: 400;
    font-size: 18px;
    line-height: 20px;
    letter-spacing: 0px;
    vertical-align: middle;
    color: rgba(29, 29, 31, 1);
    padding-left: 30px;
}

.s_text4 {
    font-family: Inter;
    font-weight: 700;
    font-size: 26px;
    line-height: 32px;
    letter-spacing: 0.2px;
    vertical-align: middle;
    color: rgba(29, 29, 31, 1);
    padding-left: 30px;
    padding-bottom: 12px;
}

.s_text5 {
    font-family: Inter;
    font-weight: 400;
    font-size: 18px;
    line-height: 20px;
    letter-spacing: 0px;
    vertical-align: middle;
    color: rgba(29, 29, 31, 1);
    padding-left: 30px;
}

section {
    background-color: rgba(245, 245, 247, 1);
    height: 500px;
    display: flex;
    gap: 20px;
    padding-top: 24px;
    overflow-x: scroll;
}

section::-webkit-scrollbar {
    display: none;
}

.sec {
    background-color: rgba(245, 245, 247, 1);
    height: 118px;
    align-items: end;
}

.sec_back {
    background-image: url('Ima/mi1.png');
    min-width: 400px;
    height: 500px;
    border-radius: 18px;
    margin-left: 140px;

}

.sec_back0 {
    min-width: 313px;
    height: 500px;
    border-radius: 18px;
    background-color: rgba(255, 255, 255, 1);
    box-shadow: 2px 4px 12px 0px rgba(0, 0, 0, 0.08);

}

.sec_0 {
    margin-right: 140px;
}

.sec_t {
    width: 197px;
    height: 66px;
    top: 53px;
    left: 30px;
    font-family: Inter;
    font-weight: 700;
    font-size: 26px;
    line-height: 32px;
    letter-spacing: 0.2px;
    vertical-align: middle;
    color: rgba(29, 29, 31, 1);
    padding-left: 30px;
    padding-top: 53px;

}

.sec_ima {
    width: 230;
    height: 230;
    top: 71px;
    left: 41.5px;
    padding: 0 41.5px;
    padding-top: 71px;
}

.sec_t0 {
    font-family: Inter;
    font-weight: 700;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0px;
    vertical-align: middle;
    color: rgba(182, 68, 0, 1);
    padding-top: 58px;
    padding-left: 28px;
    padding-bottom: 6px;
}

.sec_t1 {
    font-family: Inter;
    font-weight: 700;
    font-size: 18px;
    line-height: 20px;
    letter-spacing: 0px;
    vertical-align: middle;
    color: rgba(29, 29, 31, 1);
    padding-left: 28px;
    padding-bottom: 52px;
}

.sec_t2 {
    font-family: Inter;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0px;
    vertical-align: middle;
    color: rgba(29, 29, 31, 1);
    padding-left: 28px;
}



.sec_list {
    width: 253px;
    height: 58px;
    display: flex;
    position: absolute;
    top: 301px;
    left: 30px;
}

.sec_ {
    position: relative;
}

.sec_t3 {
    font-family: Inter;
    font-weight: 700;
    font-size: 18px;
    line-height: 20px;
    letter-spacing: 0px;
    vertical-align: middle;
    color: rgba(29, 29, 31, 1);
    padding-left: 28px;
    padding-bottom: 32px;
}

.sec_t4 {
    font-family: Inter;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0px;
    vertical-align: middle;
    color: rgba(29, 29, 31, 1);
    padding-left: 28px;
}

.middle {
    background-color: rgba(245, 245, 247, 1);
    height: 501px;
    padding-top: 24px;
}

.middle_items {
    display: flex;
    gap: 20px;
    overflow-x: scroll;
    padding-left: 140px;
}

.m_item {
    background-image: url('Ima/as1.png');
    background-repeat: no-repeat;
    min-width: 400px;
    height: 500px;
    border-radius: 18px;
}

.middle_items::-webkit-scrollbar {
    display: none;
}

.mid_li {
    width: 253;
    height: 58;
    padding: 0 30px;
}

.m_text {
    font-family: Inter;
    font-weight: 700;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0px;
    vertical-align: middle;
    color: rgba(182, 68, 0, 1);
    padding-left: 28px;
    padding-bottom: 6px;
}

.m_text0 {
    font-family: Inter;
    font-weight: 700;
    font-size: 18px;
    line-height: 20px;
    letter-spacing: 0px;
    vertical-align: middle;
    color: rgba(29, 29, 31, 1);
    padding-left: 28px;
    padding-bottom: 32px;
}

.m_text1 {
    font-family: Inter;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0px;
    vertical-align: middle;
    color: rgba(29, 29, 31, 1);
    padding-left: 28px;
}

.m_text2 {
    font-family: Inter;
    font-weight: 700;
    font-size: 18px;
    line-height: 20px;
    letter-spacing: 0px;
    vertical-align: middle;
    color: rgba(29, 29, 31, 1);
    padding-left: 28px;
    padding-top: 21px;
}

.m_text3 {
    font-family: Inter;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0px;
    vertical-align: middle;
    color: rgba(29, 29, 31, 1);
    padding-left: 28px;
    padding-top: 52px;
}

.m_text4 {
    font-family: Inter;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0px;
    vertical-align: middle;
    color: rgba(29, 29, 31, 1);
    padding-top: 32px;
    padding-left: 28px;
}

article {
    background-color: rgba(245, 245, 247, 1);
    height: 500px;
    padding-top: 24px;
}

.article0 {
    padding-left: 140px;
    padding-right: 140px;
    display: flex;
    gap: 20px;
    overflow-x: scroll;
}

.article0::-webkit-scrollbar {
    display: none;
}

.art_ima {
    background-image: url('Ima/bb1.png');
    min-width: 480px;
    height: 500px;
    border-radius: 18px;
    box-shadow: 2px 4px 12px 0px rgba(0, 0, 0, 0.08);
}

.art_ {
    width: 305px;
    height: 130px;
    font-family: Inter;
    font-weight: 700;
    font-size: 26px;
    line-height: 32px;
    letter-spacing: 0px;
    vertical-align: middle;
    color: rgba(29, 29, 31, 1);
    padding-left: 30px;
    padding-top: 50px;
}

.mlue2 {
    width: 240px;
    height: 112px;
    font-family: Helvetica Neue;
    font-weight: 700;
    font-size: 22px;
    line-height: 28px;
    letter-spacing: 0px;
    vertical-align: middle;
    color: rgba(29, 29, 31, 1);
    padding-left: 30px;
    padding-top: 68px;
}

.mlue {
    width: 238px;
    height: 84px;
    font-family: Helvetica Neue;
    font-weight: 700;
    font-size: 22px;
    line-height: 28px;
    letter-spacing: 0px;
    vertical-align: middle;
    color: rgba(29, 29, 31, 1);
    padding-left: 30px;
    padding-top: 82px;
}

.mlue0 {
    width: 236px;
    height: 84px;
    font-family: Helvetica Neue;
    font-weight: 700;
    font-size: 22px;
    line-height: 28px;
    letter-spacing: 0px;
    vertical-align: middle;
    color: rgba(29, 29, 31, 1);
    padding-left: 30px;
    padding-top: 81px;
}

.mlue1 {
    width: 225px;
    height: 84px;
    font-family: Helvetica Neue;
    font-weight: 700;
    font-size: 22px;
    line-height: 28px;
    letter-spacing: 0px;
    vertical-align: middle;
    color: rgba(29, 29, 31, 1);
    padding-left: 30px;
    padding-top: 68px;
}

.art_box0 {
    width: 313px;
    height: 240px;
    border-radius: 18px;
    box-shadow: 2px 4px 12px 0px rgba(0, 0, 0, 0.08);

}

.art_box {
    min-width: 646px;
    height: 500px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.art_back {
    background-image: url('Ima/bb2.png');
    min-width: 480px;
    height: 500px;
    border-radius: 18px;
    box-shadow: 2px 4px 12px 0px rgba(0, 0, 0, 0.08);


}

.art_ba0 {
    width: 131px;
    height: 14px;
    font-family: Inter;
    font-weight: 700;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0px;
    vertical-align: middle;
    color: rgba(110, 110, 115, 1);
    padding-left: 30px;
    padding-top: 31px;
    padding-bottom: 9px;

}

.art_ba1 {
    width: 330.5899963378906px;
    height: 96px;
    font-family: Inter;
    font-weight: 700;
    font-size: 25px;
    line-height: 32px;
    letter-spacing: 0px;
    vertical-align: middle;
    color: rgba(29, 29, 31, 1);
    padding-left: 30px;


}

.art_ima0 {
    background-image: url('Ima/bb3.jpg');
    min-width: 480px;
    height: 500px;
    border-radius: 18px;
    box-shadow: 2px 4px 12px 0px rgba(0, 0, 0, 0.08);
    background-size: contain;
}

.menus {
    background-color: rgba(245, 245, 247, 1);
    height: 500px;
    padding-top: 24px;
}

.menu {
    padding-left: 140px;
    padding-right: 140px;
    display: flex;
    gap: 20px;
    overflow-x: scroll;
    background-size: contain;
    background-repeat: no-repeat;
}

.menu::-webkit-scrollbar {
    display: none;
}

.foo_0 {
    background-image: url('Ima/ss1.png');
    min-width: 480px;
    height: 500px;
    border-radius: 18px;
    box-shadow: 2px 4px 12px 0px rgba(0, 0, 0, 0.08);


}

.foo_1 {
    background-image: url('Ima/ss2.png');
    min-width: 480px;
    height: 500px;
    border-radius: 18px;
    box-shadow: 2px 4px 12px 0px rgba(0, 0, 0, 0.08);
}

.foo_2 {
    background-image: url('Ima/ss3.png');
    min-width: 480px;
    height: 500px;
    border-radius: 18px;
    box-shadow: 2px 4px 12px 0px rgba(0, 0, 0, 0.08);
}

.foo_3 {
    background-image: url('Ima/ss4.jpg');
    min-width: 480px;
    height: 500px;
    border-radius: 18px;
    box-shadow: 2px 4px 12px 0px rgba(0, 0, 0, 0.08);
    background-size: contain;
}

.me_re {
    background-repeat: no-repeat;
}

.foo_t0 {
    width: 98px;
    height: 14px;
    opacity: 1;
    font-family: Inter;
    font-weight: 700;
    font-style: Bold;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0px;
    vertical-align: middle;
    color: rgba(110, 110, 115, 1);
    padding-left: 30px;
    padding-top: 32px;
    padding-bottom: 8px;

}


.foo_t1 {
    width: 265px;
    height: 66px;
    font-family: Inter;
    font-weight: 700;
    font-style: Bold;
    font-size: 26px;
    line-height: 32px;
    letter-spacing: 0px;
    vertical-align: middle;
    color: rgba(29, 29, 31, 1);
    padding-left: 30px;
    padding-bottom: 10px;
}

.foo_t2 {
    width: 259px;
    height: 41px;
    font-family: Inter;
    font-weight: 400;
    font-style: Regular;
    font-size: 17px;
    color: rgba(29, 29, 31, 1);
    line-height: 20px;
    letter-spacing: 0px;
    vertical-align: middle;
    padding-left: 30px;
}

.foo_t3 {
    width: 73px;
    height: 14px;
    font-family: Inter;
    font-weight: 700;
    font-style: Bold;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0px;
    vertical-align: middle;
    color: rgba(245, 245, 247, 1);
    padding-left: 30px;
    padding-top: 32px;
    padding-bottom: 8px;
}

.foo_t4 {
    width: 390px;
    height: 66px;
    font-family: Inter;
    font-weight: 700;
    font-style: Bold;
    font-size: 26px;
    line-height: 32px;
    letter-spacing: 0px;
    vertical-align: middle;
    color: rgba(255, 255, 255, 1);
    padding-left: 30px;
}

.foo_t5 {
    width: 442;
    height: 66;
    font-family: Inter;
    font-weight: 700;
    font-style: Bold;
    font-size: 26px;
    line-height: 32px;
    letter-spacing: 0px;
    vertical-align: middle;
    color: rgba(29, 29, 31, 1);
    padding-top: 52px;
    padding-left: 30px;

}

.foo_t6 {
    width: 384;
    height: 96;
    font-family: Inter;
    font-weight: 700;
    font-style: Bold;
    font-size: 26px;
    line-height: 32px;
    letter-spacing: 0px;
    vertical-align: middle;
    color: rgba(29, 29, 31, 1);
    padding-top: 7px;
    padding-left: 30px;

}

.yellow {
    background-color: rgba(245, 245, 247, 1);
    height: 34px;
    font-family: Inter;
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: 0px;
    vertical-align: middle;
    color: rgba(110, 110, 115, 1);
    text-align: center;
    display: flex;
    gap: 12px;
    padding-left: 140px;
}

.hat {
    background-image: url('Ima/rr1.png');
    min-width: 400px;
    height: 500px;

}

.hat0 {
    background-image: url('Ima/rr2.png');
    min-width: 400px;
    height: 500px;
    box-shadow: 2px 4px 12px 0px rgba(0, 0, 0, 0.08);
    border-radius: 18px;

}

.hat1 {
    background-image: url('Ima/rr3.png');
    min-width: 400px;
    height: 500px;
    box-shadow: 2px 4px 12px 0px rgba(0, 0, 0, 0.08);
    border-radius: 18px;
}

.hat2 {
    background-image: url('Ima/rr4.png');
    min-width: 400px;
    height: 500px;
    box-shadow: 2px 4px 12px 0px rgba(0, 0, 0, 0.08);
    border-radius: 18px;
}

.hat3 {
    background-image: url('Ima/rr5.jpg');
    min-width: 400px;
    height: 500px;
    background-size: contain;
    box-shadow: 2px 4px 12px 0px rgba(0, 0, 0, 0.08);
    border-radius: 18px;
}

.hater::-webkit-scrollbar {
    display: none;
}

.hater {
    display: flex;
    gap: 20px;
    overflow-x: scroll;
    padding-left: 140px;
    padding-right: 140px;
}

.haters {
    background-color: rgba(245, 245, 247, 1);
    height: 500px;
    padding-top: 24px;
}

.la_text {
    width: 1640px;
    height: 32px;
    font-family: Inter;
    font-weight: 700;
    font-style: Bold;
    font-size: 26px;
    color: rgba(29, 29, 31, 1);
    line-height: 32px;
    letter-spacing: 0px;
    vertical-align: middle;
    padding-top: 60px;
    padding-left: 140px;


}

.las_text {
    background-color: rgba(245, 245, 247, 1);
    height: 116px;
}

.s_button {
    width: 125px;
    height: 40px;
    padding-top: 10px;
    padding-right: 12px;
    padding-bottom: 10px;
    padding-left: 12px;
    gap: 8px;
    border-radius: 999px;
    border-width: 1px;
    border: 1px solid rgba(29, 29, 31, 1);

}

.old {
    font-family: Inter;
    font-weight: 350;
    font-style: Regular;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0px;
    text-align: center;
    vertical-align: middle;
    margin-right: 6px;

}

.s_button0 {
    width: 139px;
    height: 40px;
    padding-top: 10px;
    padding-right: 12px;
    padding-bottom: 10px;
    padding-left: 12px;
    gap: 8px;
    border-radius: 999px;
    border-width: 1px;
    border: 1px solid rgba(29, 29, 31, 1);
}

.s_button1 {
    width: 94px;
    height: 40px;
    padding-top: 10px;
    padding-right: 12px;
    padding-bottom: 10px;
    padding-left: 12px;
    gap: 8px;
    border-radius: 999px;
    border-width: 1px;
    border: 1px solid rgba(29, 29, 31, 1);
}

.s_button2 {
    width: 117px;
    height: 40px;
    padding-top: 10px;
    padding-right: 12px;
    padding-bottom: 10px;
    padding-left: 12px;
    gap: 8px;
    border-radius: 999px;
    border-width: 1px;
    border: 1px solid rgba(29, 29, 31, 1);
}

.silver {
    height: 140px;
    background-color: rgba(245, 245, 247, 1);
    display: flex;
    gap: 12px;
    padding-left: 140px;
}

.off {
    font-size: 14px;
}